<!DOCTYPE HTML>
<html>
    <head>
        <title>calcul8r</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="./../main/calculator.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./../main/calculator.css">
        <script src="./../bootstrap/js"></script>
    </head>

    <body>
        <div class="container wholeCalc">
            <div class="container mainCalc" ng-app = "calculatorApp" ng-controller="calculatorController">
                <div class="row"> <!-- output dialog-->
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                       <p> <input type="text" class="result" name="output" value="{{output}}" placeholder="result" readonly> </p>
                    </div>

                </div>

                <div class="row"> <!-- clear and  backspace-->
                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <button class="btn long" ng-click="output=0">CLEAR</button>
                    </div>

                    <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                        <button class="btn long" ng-click="updateOutput('x')">BACKSPACE</button>
                    </div>

                </div>

                <div class="row">  <!--7,8,9, division-->
                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='g' ng-click="updateOutput('7')" >7</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='h' ng-click='updateOutput("8")'>8</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='i' ng-click='updateOutput("9")'>9</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-click='operate("/")'>/</button>
                    </div>

                </div>

                <div class="row"> <!--4,5,6, multiplication-->
                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='d' ng-click='updateOutput("4")'>4</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='e'ng-click='updateOutput("5")'>5</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='f' ng-click='updateOutput("6")'>6</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-click='operate("*")'>*</button>
                    </div>

                </div>

                <div class="row"> <!--1,2,3, subtraction-->
                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='a' ng-click='updateOutput("1")'>1</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='b' ng-click='updateOutput("2")'>2</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='c' ng-click='updateOutput("3")'>3</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys"ng-click='operate("-")'>-</button>
                    </div>
                </div>

                <div class="row">  <!-- 0, decimal, equals to, addition-->
                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-model='z' ng-click='updateOutput("0")'>0</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-click='updateOutput(".")'>.</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-click='equal()'>=</button>
                    </div>

                    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                        <button class="btn keys" ng-click='operate("+")'>+</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>